*{
    margin: 0px;
    padding: 0px;
}

.purple{
    color: blueviolet;
}
.green {
    color: green;
}
.bg-purple {
    background-color: blue;
}
.sixth-card{
    margin-left: 15rem !important;
}


@media screen and (max-width: 375px){
    .second-card img{
        display: none;
    }
    .second-card{
        display: block;
    }
    .sixth-card{
        margin-left: 9rem !important;
    }
    .seventh-card img{
        display: none;
    }


}